@media screen and (max-width: 768px) {

    header .container {
        display: flex;
        flex-direction: column;
    }
    header nav{
        margin: 10px 10px;
    }
    .banner-principal {
        height: 400px;
        width: 1024px;
    }
    .banner-principal .container {
        margin: 0 auto;
    }
    .carrosel-games {
        width: 1024px;
    }

    .sobre {
        width: 1024px;
        height: 300px;
    }
    .sobre .foto img {
        height: 300px;
        margin: auto;
    }
    footer {
        width: 1024px;
    }
}

@media screen and (max-width: 425px) {

    header .container .logo {
        height: 40px;
        margin: 10px 10px;
    }
    header nav a {
        font-size: 30px;
        margin: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        color: var(--terceiro);
    }
    
    header nav a:hover {
        color: var(--primario);
    }
    .banner-principal {
        text-align: center;
    }
    .banner-principal .container .descricao {
        margin: 10px 10px;
        font-size: 26px;
    } 
    .botao {
        font-size: 20px;
    
    }

    .sobre{
        height: 350px;
        
        
    }
    .sobre .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sobre-descricao h3 {
        font-size: 30px;
        margin: 20px 10px;
        text-transform: uppercase;
    }
    
    .sobre-descricao p {
        margin: 10px 10px;
        font-size: 30px;
    }
    .sobre .foto {
        display: none;
    
    }
    .rodape h5{
        font-size: 30px;
    }
}
    